#sitemap {
	
	margin-bottom:27px;
	
	h3 {
		border-bottom:1px solid $gray-light;
		padding:6px 4px;
	}
	
	ul {
		margin:0;
		padding:0;
		list-style:none;
		
		li {
			
			a {
				display:block;
				padding:6px 4px;
				border-bottom:1px dotted $gray-light;
				color:$gray;
			}
			
			a:hover {
				text-decoration:none;
				background-color:$gray-lightest;
				color:$blue;
			}
						
		}
		
		li:last-child a  {
			border-bottom:0;
		}
		
	}
}