#feature {
	
	margin-bottom:27px;
	
	.main {
		
		.img { height:300px; }
	}
	
	.list {
				
		ul {
			margin:0;
			padding:0;
			list-style:none;
			
			li {
				
				.img { height:82px; margin-bottom:27px; }
			}
			
			li:last-child {
				.img { margin-bottom:0; }
			}
		}
	}
}