.basic {
	
	h2, h3, h4 {
		color:#222222;
		line-height:1em;
		margin-bottom:8px;
	}
	
	h2, h3 {
		margin-top:40px;
	}
	
	h2:first-child, h3:first-child {
		margin-top:0;
	}
	
	p { margin-bottom:2em;}

	
	.pagehead {
		margin-bottom:2em;
	}
	
	.hr {
		border-bottom:1px solid $gray-light;
		padding-bottom:1em;
		margin-bottom:1em;
	}
	
	.content {
		margin-bottom:40px;
	}
	
	.intro {
		font-size:16px;
		line-height:24px;
		color:#777;
	}
	
	.box {
		border-bottom:1px solid $gray-light;
		background-color:$gray-lightest;
		@include rounded-corners(10px);
		overflow:hidden;
		margin-bottom:20px;
		min-height:200px;

		.text {
			margin:20px;
		}
	}
	
	.box:hover {
		
	}
	
	
	.nav {
		margin:0 0 28px 0;
		padding:0 0 0 20px;
		list-style:none;
		border-left:1px solid $gray-light;
		
		li {
			
			a {
				display:block;
				padding:6px;
				border-bottom:1px dotted $gray-light;
			}
		}
		
		li:last-child {
			a { border-bottom:none; }
		}
		
		li.title { 
			padding:6px;
			font-size:16px;
			font-weight:bold;
		}
		
	}
	
	.fig {
		border:1px solid $gray-light;
		border-radius:6px;
		padding:10px;
		margin:0 0 30px 0;
	}
	
	
	.fig.right {
		float:right;
		margin:0 0 30px 30px;
		width:35%;
	}
	
	.fig.left {
		float:left;
		margin:0 30px 30px 0;
		width:35%;
	}
	
}