#template-header {
	padding:1em 0;
	border-bottom:1px solid $gray-light;
	margin-bottom:27px;
	
	.logo {
		float: left;
		
		a {
			display:block;
			width:292px;
			height:0;
			padding-top:41px;
			overflow:hidden;
			background-image:url('/img/logo.gif');
			background-repeat:no-repeat;			
		}
	}
	
	#nav {
		float:right;
		
		ul {
			padding:0;
			margin:3px 0 0 0;
			list-style:none;
			
			a {
				display:block;
				color:$logogray;
				padding:8px 12px;
				@include rounded-corners(4px);
			}
			
			a:hover {
				color:#fff;
				background-color:$logogray;
				text-decoration:none;
			}
			
			li {
				float:left;
				
				ul {
					position:absolute;
					left: -999em;
					margin-top:1px;
					
					background-color:#fff;
					border:1px solid $gray-light;
					@include drop-shadow;
					@include rounded-corners(4px);
					
					li {
						clear:both;
						width:100%;
						
						a {
							@include rounded-corners(0px);
						}
						
						a:hover {
							color:$logogray;
							background-color:$gray-lighter;
						}
					}
				}
			}
			
			li#nav-login {
				a {
					color:#fff;
					background-color:$logored;
					margin-left:12px;
				}
				
				ul { margin-left:12px; }
				
				ul li a { background-color:transparent; color:$logogray; margin-left:0; }
				ul li a:hover { background-color:$gray-lighter; }
				
			}
			
			li:hover {
				
				ul {
					left:auto;
				}
			}
			

		}
	}
}