#footer {
	
	border-top:1px solid $gray-light;
	padding-top:18px;
	
	.footernav {
		float:left;
	}
	
	.copyright {
		float:right;
	}
	
	a {
		color:$logogray;
		border-bottom:1px dotted $gray-light;
	}
	
	a:hover {
		color:$blue;
		border-bottom:1px solid $blue;
		text-decoration:none;
	}
}