---
layout: page
title: Advisories
id: advisories
---

<div class="advisories">
  {% for advisory in site.data.advisories %}

  {% capture descriptionpath %}advisories/{{ advisory.id }}.md{% endcapture %}
  {% capture description %}{% include {{descriptionpath}} %}{% endcapture %}

  <div class="advisory">
    <h2 class="advisory__name">{{ advisory.name }}</h2>
    <div class="advisory__description">{{ description | markdownify }}</div>
    <div class="advisory__cta"><a href="/assets/files/advisories/{{ advisory.id }}.pdf">Read More</a></div>
  </div>
  {% endfor %}
</div>