.lo-hero
  width: 100%
  min-height: 35vw

  display: flex
  flex-direction: column

  background-repeat: no-repeat
  background-size: cover
  background-position: center

  &.is-showing--attract
    background-image: url('/assets/img/home/attract.jpg')

.lo-hero__content
  flex-grow: 1
  display: flex
  align-items: center

.lo-hero__menu
  flex-shrink: 0
