.lo-quote
  width: 100%
  padding: 2em 1em

.lo-quote__container
  @include center(rem(1200))
  display: flex
  
.lo-quote__wwd
  width: 50%
  padding-right: 3%
  border-right: 1px solid $border-color

.lo-quote__quotes
  display: flex
  align-items: center
  width: 47%
  margin-left: 3%
