.lo-quote
  padding: 2em 1em

.lo-quote__container
  display: flex
  margin: auto
  max-width: rem(1200)

.lo-quote__wwd
  width: 50%
  padding-right: 3%
  border-right: 1px solid $border-color

.lo-quote__quotes
  display: flex
  align-items: center
  width: 47%
  margin-left: 3%
