---
layout: base
---
<div class="lo-page">
  <div class="lo-page__title">
    <h1>{{ page.title }}</h1>
  </div>
  <div class="lo-page__content">
    {{ content }}
  </div>
  <div class="lo-page__sidebar">
    <div class="map">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2987.1381529710325!2d-90.56897500000004!3d41.522947999999985!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87e23483cfefa5e3%3A0xc047c6753d7862ed!2s320+Leclaire+St%2C+Davenport%2C+IA+52801!5e0!3m2!1sen!2sus!4v1461032551185" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>

    <p><strong>Inquirehire</strong><br/>
    320 LeClaire Street<br/>
    Davenport, IA 52801</p>

    <p>Phone: <strong>(800) 494-5922</strong><br/>
    Fax: <strong>(563) 323-5441</strong></p>

  </div>
</div>
