<div class="tiles">
	<div class="tile">
		<h2 class="tile__header">Aptitude and Behavioral Assessments </h2>
		<div class="title__content">
			<ul>
				<li><a href="/assets/files/banking/assessments.pdf">Overview [PDF]</a></li>
				<li><a href="/assets/files/banking/assessments--sample.pdf">Sample Report [PDF]</a></li>
			</ul>
		</div>
	</div>
	<div class="tile">
		<h2 class="tile__header">Professional Reference Checks</h2>
		<div class="title__content">
			<ul>
				<li><a href="/assets/files/banking/reference-check.pdf">Overview [PDF]</a></li>
				<li><a href="/assets/files/banking/reference-check--sample.pdf">Sample Report [PDF]</a></li>
			</ul>
		</div>
	</div>
	<div class="tile">
		<h2 class="tile__header">Background Checks</h2>
		<div class="title__content">
			<ul>
				<li><a href="/assets/files/banking/background-screening.pdf">Overview [PDF]</a></li>
				<li><a href="/assets/files/banking/background-screening--sample.pdf">Sample Report [PDF]</a></li>
			</ul>
		</div>
	</div>
	<div class="tile">
		<h2 class="tile__header">Social Media Screening</h2>
		<div class="title__content">
			<ul>
				<li><a href="/assets/files/banking/social-media.pdf">Overview [PDF]</a></li>
				<li><a href="/assets/files/banking/social-media--sample.pdf">Sample Report [PDF]</a></li>
			</ul>
		</div>
	</div>
	<div class="tile">
		<h2 class="tile__header">Substance Abuse Screening</h2>
		<div class="title__content">
			<ul>
				<li><a href="/assets/files/banking/substance-abuse.pdf">Overview [PDF]</a></li>
				<li><a href="/assets/files/banking/substance-abuse--sample.pdf">Sample Report [PDF]</a></li>
			</ul>
		</div>
	</div>
	<div class="tile">
		<h2 class="tile__header">Vault Verify Inbound Employment Verifications</h2>
		<div class="title__content">
			<ul>
				<li><a href="/assets/files/banking/vault-verify.pdf">Overview [PDF]</a></li>
			</ul>
		</div>
	</div>
	<div class="tile">
		<h2 class="tile__header">Talent Acquisition and Onboarding System</h2>
		<div class="title__content">
			<ul>
				<li><a href="/assets/files/banking/talent-acquisition.pdf">Overview [PDF]</a></li>
				<li><a href="/assets/files/banking/talent-acquisition--presentation.pdf">Sample Report [PDF]</a></li>
			</ul>
		</div>
	</div>
</div>
