<div class="nav">
  <a class="nav-menu js-nav-menu">Menu</a>
  <ul class="nav-sections js-nav-sections">
  {% for section in site.data.sections %}
    <li class="nav-section js-nav-section"><a href="/{{ section.id }}" class="nav-section__link">{{ section.title }}</a>
      <ul class="nav-sub js-nav-sub">
        {% for link in site.data.nav %}
        {% if link.section-id == section.id %}
          {% if link.id == link.section-id %}
            <li class="nav-sub__item"><a href="/{{ section.id }}">{{ link.title }}</a></li>
          {% else %}
            <li class="nav-sub__item"><a href="{{ link.url }}">{{ link.title }}</a></li>
          {% endif %}
        {% endif %}
        {% endfor %}
      </ul>
    </li>
  {% endfor %}
    <li class="nav-section--login js-nav-section"><a class="nav-section__link button--red">Login</a>
      <ul class="nav-sub js-nav-sub">
        <li class="nav-sub__item"><a href="https://inquirehire.instascreen.net/">Background Screening</a></li>
        <li class="nav-sub__item"><a href="https://inquirehire.pstprod.peoplestrategy.com/">ATS/Assessments</a></li>
        <li class="nav-sub__item"><a href="http://www.psymetricstesting.com">PsyMetrics Assessment Testing</a></li>
	      <li class="nav-sub__item"><a href="https://app.skillsurvey.com/PH360">Skill Survey Professional References</a></li>
			  <li class="nav-sub__item"><a href="https://www.myescreen.com">eScreen Drug Testing</a></li>
        <li class="nav-sub__item"><a href="https://admin.applicantlist.com/">ApplicantList</a></li>
      </ul>
    </li>
  </ul>
</div>
