#footer {
	position:fixed;
	bottom:0;
	background-color:white;
	width:100%;
	
	#footersplit {
		border-top:1px solid $gray-light;
		padding:18px 0;
		margin:auto;

	
		.copyright {
			float:left;
		}
	
		p, ul, ul li {
			margin:0;
		}
	
	
		a {
			color:$logogray;
			border-bottom:1px dotted $gray-light;
		}
	
		a:hover {
			color:$blue;
			border-bottom:1px solid $blue;
			text-decoration:none;
		}
		
		.social {
			float:right;
			
			ul {
				margin:0;
				padding:0;
				list-style:none;
				float:right;
				
				li {
					float:left;
					margin-right:10px;
					
					a {
						border:none;
						display:block;
						overflow:hidden;
						height:0;
						width:26px;
						padding-top:26px;
						background-image:url('/img/footer_social_icons.png');
						background-repeat:no-repeat;
						
					}
					
					a.facebook { background-position:0 0; }
					a.twitter { background-position:-26px 0; }
					a.youtube { background-position:-52px 0; }
					a.rss { background-position:-78px 0; }
					a.email { background-position:-104px 0; }
					
					a:hover {
					}
				}
				
				li:last-child {
					margin-right:0;
				}
			}
		}
	}
}