.button,
a.button,
button.button,
input[type="submit"].button
  display: inline-block
  padding: 0.5em 1em
  color: $white
  background: $blue
  border: 0
  border-radius: 0.25em
  transition: background 0.2s ease-in-out

  &:hover
    background: darken($blue, 5%)

  &:active
    background: $red

.button--red,
a.button--red,
button.button--red
  @extend .button
  background: $red

  &:hover
    background: darken($red, 10%)

  &:active
    background: $blue
