$bp-header-mid: rem(500)
$bp-header-full: rem(900)

.header
  display: flex
  flex-direction: column
  justify-content: space-between
  padding: 1em
  border-bottom: 1px solid $border-color


  @include bp($bp-header-mid)

  @include bp($bp-header-full)
    flex-direction: row
    align-items: flex-end

.header__logo
  flex-shrink: 0
  max-width: rem(400)

  img
    max-width: 100%

.header__nav
  //-
