$bp-nav-mid: rem(500)
$bp-nav-full: rem(900)

.nav

  ul
    margin: 0
    padding: 0
    list-style: none

  ul li a
    display: block
    padding: 0.5em
    border-bottom: 1px dotted $border-color

    @include bp($bp-nav-mid)
      border-bottom: 0

  @include bp($bp-nav-mid)
    margin-left: -0.5em

  @include bp($bp-nav-full)
    margin-left: 0


.nav-sections
  @include cf
  max-height: 0
  overflow: hidden

  &.is-open
    max-height: none

  @include bp($bp-nav-mid)
    max-height: none
    overflow: inherit

.nav-section
  position: relative

  @include bp($bp-nav-mid)
    display: block
    float: left

.nav-section--login
  @extend .nav-section

  @include bp($bp-nav-mid)
    margin-left: 0.75em

  //- yuk
  .button--red
    padding-left: 1em
    padding-right: 1em

.nav-sub
  overflow: hidden
  max-height: 0
  background-color: #f6f6f6


  &.is-open
    overflow: inherit
    max-height: none

    @include bp($bp-nav-mid)
      &:before
        content: ' '
        position: absolute
        bottom: 100%
        left: 1em
        width: 0
        height: 0
        border-style: solid
        border-width: 0 0.5em 0.5em 0.5em
        border-color: transparent transparent $border-color transparent

    @include bp($bp-nav-full)
      &:before
        right: 1em
        left: auto


    @include bp($bp-nav-mid)
      padding: 0.5em
      border: 2px solid $border-color
      border-radius: 0.125em


  @include bp($bp-nav-mid)
    overflow: auto
    position: absolute
    left: 0
    right: auto
    white-space: nowrap
    z-index: 1

  @include bp($bp-nav-full)
    right: 0
    left: auto

.nav-menu
  position: absolute
  top: 1em
  right: 1em
  display: inline-block
  padding: 0.5em
  border: 1px solid $border-color
  border-radius: 0.25em
  font-size: rem(12)
  line-height: 1
  text-transform: uppercase
  background: white
  cursor: pointer

  @include bp($bp-nav-mid)
    display: none
