ErrorDocument 404 /404.html
Redirect 301 /about http://inquirehire.com/about/index.html
Redirect 301 /about/careers https://inquirehire.pstprod.peoplestrategy.com/clients/inquirehire/
Redirect 301 /about/company-history http://inquirehire.com/about/history.html
Redirect 301 /about/contact http://inquirehire.com/about/contact.html
Redirect 301 /about/values http://inquirehire.com/about/values.html
Redirect 301 /dispute/applicant http://inquirehire.com/dispute/applicant.html
Redirect 301 /dispute/consumer-report http://inquirehire.com/dispute/consumer-report.html
Redirect 301 /partners http://inquirehire.com/partners/index.html
Redirect 301 /privacy-policy http://inquirehire.com/privacy-policy.html
Redirect 301 /resources/advisories http://inquirehire.com/resources/advisories.html
Redirect 301 /resources/banking http://inquirehire.com/resources/banking.html
Redirect 301 /resources/events http://inquirehire.com/resources/events.html
Redirect 301 /resources/faq http://inquirehire.com/resources/faq.html
Redirect 301 /resources/fcra-forms http://inquirehire.com/resources/fcra-forms.html
Redirect 301 /resources/glossary http://inquirehire.com/resources/glossary.html
Redirect 301 /resources/legal-and-compliance http://inquirehire.com/resources/legal-and-compliance.html
Redirect 301 /resources/presentations http://inquirehire.com/resources/presentations.html
Redirect 301 /resources/schools http://inquirehire.com/resources/schools.html
Redirect 301 /resources/webinars http://inquirehire.com/resources/webinars.html
Redirect 301 /services http://inquirehire.com/services/selectech-applicant-tracking-system.html
Redirect 301 /services/aptitude-assessments http://inquirehire.com/services/aptitude-assessments.html
Redirect 301 /services/background-screening http://inquirehire.com/services/background-screening.html
Redirect 301 /services/drug-testing http://inquirehire.com/services/drug-testing.html
Redirect 301 /services/post-hire-services http://inquirehire.com/services/post-hire-services.html
Redirect 301 /services/professional-reference-checks http://inquirehire.com/services/professional-reference-checks.html
Redirect 301 /services/selectech-applicant-tracking-system http://inquirehire.com/services/selectech-applicant-tracking-system.html
Redirect 301 /services/selectech-verification-system http://inquirehire.com/services/selectech-verification-system.html
Redirect 301 /services/social-media-screening http://inquirehire.com/services/social-media-screening.html
Redirect 301 /solutions http://inquirehire.com/solutions/attract-better-candidates.html
Redirect 301 /solutions/attract-better-candidates http://inquirehire.com/solutions/attract-better-candidates.html
Redirect 301 /solutions/avoid-hiring-mistakes http://inquirehire.com/solutions/avoid-hiring-mistakes.html
Redirect 301 /solutions/streamline-the-hiring-process http://inquirehire.com/solutions/streamline-the-hiring-process.html
Redirect 301 /services/aptitude-assessments.php http://inquirehire.com/services/aptitude-assessments.html
Redirect 301 /services/background-screening.php http://inquirehire.com/services/background-screening.html
Redirect 301 /services/drug-testing.php http://inquirehire.com/services/drug-testing.html
Redirect 301 /services/post-hire-services.php http://inquirehire.com/services/post-hire-services.html
Redirect 301 /services/professional-reference-checks.php http://inquirehire.com/services/professional-reference-checks.html
Redirect 301 /services/selectech-applicant-tracking-system.php http://inquirehire.com/services/selectech-applicant-tracking-system.html
Redirect 301 /services/selectech-verification-system.php http://inquirehire.com/services/selectech-verification-system.html
