ErrorDocument 404 /404.html
Redirect 301 /about /about/index.html
Redirect 301 /about/careers	https://inquirehire.pstprod.peoplestrategy.com/clients/inquirehire/
Redirect 301 /about/company-history	/about/history.html
Redirect 301 /about/contact	/about/contact.html
Redirect 301 /about/values	/about/values.html
Redirect 301 /dispute/applicant	/dispute/applicant.html
Redirect 301 /dispute/consumer-report	/dispute/consumer-report.html
Redirect 301 /partners	/partners/index.html
Redirect 301 /privacy-policy	/privacy-policy.html
Redirect 301 /resources/advisories	/resources/advisories.html
Redirect 301 /resources/banking	/resources/banking.html
Redirect 301 /resources/events	/resources/events.html
Redirect 301 /resources/faq	/resources/faq.html
Redirect 301 /resources/fcra-forms	/resources/fcra-forms.html
Redirect 301 /resources/glossary	/resources/glossary.html
Redirect 301 /resources/legal-and-compliance	/resources/legal-and-compliance.html
Redirect 301 /resources/presentations	/resources/presentations.html
Redirect 301 /resources/schools	/resources/schools.html
Redirect 301 /resources/webinars	/resources/webinars.html
Redirect 301 /services	/services/selectech-applicant-tracking-system.html
Redirect 301 /services/aptitude-assessments	/services/aptitude-assessments.html
Redirect 301 /services/background-screening	/services/background-screening.html
Redirect 301 /services/drug-testing	/services/drug-testing.html
Redirect 301 /services/post-hire-services	/services/post-hire-services.html
Redirect 301 /services/professional-reference-checks	/services/professional-reference-checks.html
Redirect 301 /services/selectech-applicant-tracking-system	/services/selectech-applicant-tracking-system.html
Redirect 301 /services/selectech-verification-system	/services/selectech-verification-system.html
Redirect 301 /services/social-media-screening	/services/social-media-screening.html
Redirect 301 /solutions	/solutions/attract-better-candidates.html
Redirect 301 /solutions/attract-better-candidates	/solutions/attract-better-candidates.html
Redirect 301 /solutions/avoid-hiring-mistakes	/solutions/avoid-hiring-mistakes.html
Redirect 301 /solutions/streamline-the-hiring-process	/solutions/streamline-the-hiring-process.html
Redirect 301 /services/aptitude-assessments.php	/services/aptitude-assessments.html
Redirect 301 /services/background-screening.php	/services/background-screening.html
Redirect 301 /services/drug-testing.php	/services/drug-testing.html
Redirect 301 /services/post-hire-services.php	/services/post-hire-services.html
Redirect 301 /services/professional-reference-checks.php	/services/professional-reference-checks.html
Redirect 301 /services/selectech-applicant-tracking-system.php	/services/selectech-applicant-tracking-system.html
Redirect 301 /services/selectech-verification-system.php	/services/selectech-verification-system.html
