---
layout: base
title: "Inquirehire"
description: "Inquirehire provides Applicant Tracking, I9/E-Verify, Skill Survey, Reference Checks, Background and Pre-Employment Screening"
---

<div class="lo-hero is-showing--attract">
  <div class="lo-hero__content">
    <div class="heros">
      <div class="hero is-showing js-hero js-hero--attract">
        <div class="hero__content">
          <div class="hero__preheader">Look <em>Smarter</em></div>
          <h1>Attract Better Candidates</h1>
          <p>Inquirehire helps employers find and attract better job candidates for their job openings with the Selectech® Applicant Tracking System.</p>
          <p><a href="/solutions/attract-better-candidates.html" class="button">How to Attract Better Candidates</a></p>
        </div>
      </div>
      <div class="hero js-hero js-hero--avoid">
        <div class="hero__content">
          <div class="hero__preheader">Look <em>Deeper</em></div>
          <h1>Avoid Hiring Mistakes</h1>
          <p>Inquirehire helps employers avoid costly hiring mistakes with a comprehensive suite of employment screening and selection services.</p>
          <p><a href="/solutions/avoid-hiring-mistakes.html" class="button">How to Avoid Hiring Mistakes</a></p>
        </div>
      </div>
      <div class="hero js-hero js-hero--streamline">
        <div class="hero__content">
          <div class="hero__preheader">Look <em>Faster</em></div>
          <h1>Streamline the Hiring Process</h1>
          <p>Integrated solutions save time and reduce errors, and this results in a lower cost of hire and shorter time to hire.</p>
          <p><a href="/solutions/streamline-the-hiring-process.html" class="button">How to Simplify and Streamline the Hiring Process</a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="lo-hero__menu">
    <div class="heros-menu">
      <a href="/solutions/attract-better-candidates.html" class="heros-menu__item is-selected js-hero-menu--attract">Attract Better Candidates</a>
      <a href="/solutions/avoid-hiring-mistakes.html" class="heros-menu__item js-hero-menu--avoid"> Avoid Hiring Mistakes</a>
      <a href="/solutions/streamline-the-hiring-process.html" class="heros-menu__item js-hero-menu--streamline">Streamline the Hiring Process</a>
    </div>
  </div>
</div>

<div class="lo-halves">
  <div class="lo-half">
    <h2>What We Do</h2>
    <p>Inquirehire enables businesses to optimize their hiring process in order save time, money, and avoid
      costly hiring mistakes. Inquirehire solutions include,
        <a href="/services/selectech-applicant-tracking-system.html">Applicant Tracking Systems</a>,
        <a href="/services/selectech-verification-system.html">I9/E-Verify Systems</a>,
        <a href="/services/aptitude-assessments.html">Aptitude and Behavioral Assessments</a>,
        <a href="/services/professional-reference-checks.html">Skill Survey Professional Reference Checks</a>,
        <a href="/services/background-screening.html">Pre-employment and Background Screening</a>,
        <a href="/services/drug-testing.html">Drug Testing</a>,
        Substance Abuse Training, and
        <a href="/services/post-hire-services.html">Employment Tax Credit Processing (WOTC)</a>.
        Inquirehire has <a href="/partners">partners and pre-integrated solutions</a> with PeopleStrategy, Honkamp Krueger, Escreen, Tazworks and more.</p>
  </div>

  <div class="lo-half">
    <div class="quotes">
      <div class="quote">
        <blockquote>
					<p class="quote">I would like to take a moment to let you know how much I appreciate the services your company provides in the areas of assessments and background checks.  I have found utilizing the assessments has helped improve our applicant selection process and using the background check service has helped streamline this process for me as well as keep us compliant.</p>
					<p class="attribution">Patricia A. Frankenstein - Sr. VP &amp; Cashier, The American National Bank</p>
				</blockquote>
      </div>
      <div class="quote">
        <blockquote>
					<p class="quote">“I completed the Affirmative Action report for the last six months and using the system made it so easy.  I had a few positions that were hired prior to us using the system and they took longer to do than all of the other positions put together so; awesome, awesome, awesome!”</p>
					<p class="attribution">Marcie Van Note, VP - Human Resources, Girl Scouts</p>
				</blockquote>
      </div>
      <div class="quote">
        <blockquote>
					<p class="quote">“With bank branches and loan offices in several states I have worked with scores of  businesses that supplied goods and services to the bank and you and your staff are right at the top of my list for fast, accurate, friendly service. It has been a great pleasure working with everyone there.”</p>
					<p class="attribution">Rick Mineck, VP - Human Resources, Valley Bank</p>
				</blockquote>
      </div>
    </div>
  </div>
</div>

<div class="lo-features">
  <div class="lo-feature">
    <div class="feature">
      <div class="feature__image"><a href="/resources/webinars.html"><img src="/img/webinar.jpg" alt="Join a Webinar"/></a></div>
      <div class="feature__text">
        <h2>Join A Webinar</h2>
  			<p>Inquirehire offers free, educational webinars designed to help employers stay abreast of the latest trends
  				and best practices being utilized in today’s hiring process.</p>
  			<p><a href="/resources/webinars.html">Schedule a Webinar</a></p>
      </div>
    </div>
  </div>
  <div class="lo-feature">
    <div class="feature">
      <div class="feature__image"><a href="/resources/events.html"><img src="/img/events.jpg" alt="Upcoming Events"/></a></div>
      <div class="feature__text">
        <h2>Upcoming Events</h2>
   			<p>Inquirehire's professionals regularly speak on effective topics like effective hiring, background check mistakes,
   				re-engineering hiring, and social media screening.</p>
   			<p><a href="/resources/events.html">See our Events Calendar</a></p>
      </div>
    </div>
  </div>
  <div class="lo-feature">
    <div class="feature">
      <div class="feature__image"><a href="/about/contact.html"><img src="/img/contact-us.jpg" alt="Contact Us"/></a></div>
      <div class="feature__text">
        <h2>Get in Touch</h2>
  			<p>At Inquirehire, customer service is priority number one. If you have comments or questions feel free to contact us
  				any time by email or phone.</p>
  			<p><a href="/about/contact.html">Email Us</a> or <strong>1-800-494-5922</strong></p>
      </div>
    </div>
  </div>
</div>

<div class="lo-affiliations">
  <div class="affiliations">
    <h2>Our Affiliations</h2>
    <div class="affiliation">
      <a href="http://www.napbs.com/"><img src="//placehold.it/300x150" alt="National Association of Professional Background Screeners" /></a>
    </div>
    <div class="affiliation">
      <a href="http://www.napbs.com/"><img src="//placehold.it/300x150" alt="National Association of Professional Background Screeners Accredited" /></a>
    </div>
    <div class="affiliation">
      <a href="http://www.concernedcras.com/"><img src="//placehold.it/300x150" alt="Concerned CRA's" /></a>
    </div>
  </div>
</div>


<div class="lo-sections">
  <div class="lo-section">
    <div class="section">
      <h3>Services</h3>
      <ul>
        {% for link in site.data.nav %}
        {% if link.section-id == "services" %}
          <li><a href="{{ link.url }}">{{ link.title }}</a></li>
        {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="lo-section">
    <div class="section">
      <h3>Resources</h3>
      <ul>
        {% for link in site.data.nav %}
        {% if link.section-id == "resources" %}
          <li><a href="{{ link.url }}">{{ link.title }}</a></li>
        {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="lo-section">
    <div class="section">
      <h3>Partners</h3>
      <ul>
        {% for link in site.data.nav %}
        {% if link.section-id == "partners" %}
          <li><a href="{{ link.url }}">{{ link.title }}</a></li>
        {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="lo-section">
    <div class="section">
      <h3>About</h3>
      <ul>
        {% for link in site.data.nav %}
        {% if link.section-id == "about" %}
          <li><a href="{{ link.url }}">{{ link.title }}</a></li>
        {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
<div class="lo-disputes">
  <div class="disputes">
    <div class="dispute">
      <a href="/dispute/consumer-report" class="">Dispute Your Consumer Report</a>
    </div>
    <div class="dispute">
      <a href="/dispute/applicant" class="">Applicant Dispute</a>
    </div>
  </div>
</div>
